@media screen and (max-width: 1100px) {
    .featured-work-link {
        word-wrap: break-word;
    }
}

@media screen and (max-width: 770px) {
    .left-display {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: auto;
        order: 2;
        margin-top: 0;
    }

    .side-first {
        margin-top: 0;
    }

    .main-display {
        width: 100%;
        order: 1;
    }
}

@media screen and (max-width: 550px) {
    .container {
        height: auto;
        flex-direction: column;
    }
    .main-container {
        height: auto;
    }

    .main-image-container {
        height: auto;
    }


    .featured-work-div {
        flex-direction: column;
        height: auto;
    }

    .featured-work-container {
        height: auto;
    }

    .featured-work-title-div {
        height: auto;
    }

    .left {
        margin-left: 0;
        order: 3;
    }

    .right {
        margin-right: 0;
        order: 1;
    }

    .center {
        order: 2;
    }

    .work-box {
        width: 100%;
        height: auto;
    }

    .basic-info {
        font-size: 1.4em;
    }

    .header {
        height: auto;
    }

    #header-description {
        font-size: 0.9em;
    }

    .header-image {
        width: 100px;
    }

    .featured-work-descriptions {
        font-size: 1.5em;
    }

    .featured-work-link {
        font-size: 1.3em;
    }

    .footer-text {
        font-size: 1.3em;
    }

}

@media screen and (max-width: 370px) {
    .basic-info {
        font-size: 1.1em;
    }
}