/* -- Normal css -- */

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 25px auto;
    max-width: 1100px;
}

.left-display {
    margin-top: 150px;
    text-align: center;
    width: 10%;
    height: 1000px;
    order: 1;
}

.main-display {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    order: 2;
}
.header {
    width: 100%;
    height: 150px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
}

.main-container {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
}



.right-container{
    width: 100%;
    height: 1000px;
}

.footer {
    font-size: 12px;
    text-align: center;
    width: 100%;
    height: 5%;
    order: 3;
}

.logo {
    width: 15%;
}

.info {
    width: 85%;
}

.basic-info {
    text-align: right;
    font-family: cursive;
    text-shadow: 10px 10px 20px black;
    letter-spacing: 2px;
    margin-right: 15px;
}

#header-description {
    margin-top: -20px;
}

.thin-line {
    height: 2px;
    background-color: gray;
    border: 0;
    width: 100%;
}

.header-image {
    width: 160px;
    float: left;
}

.main-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65%;
    min-width: 150px;
}

.image-to-div {
    width: 100%;
    min-width: 100px;
    min-height: unset;
    max-height: 100%;
}

.featured-work-title-div {
    height: 20%;
    width: 100%;
}

.featured-work-div {
    margin-top: 30px;
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.featured-work-container {
    width: 100%;
    height: 35%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

}

.work-box {
    width: 25%;
    height: 150px;
}

.left {
    margin-left: 25px;
}

.right {
    margin-right: 25px;
}

.featured-work {
    text-align: center;
    font-family: cursive;
    text-shadow: 10px 10px 20px black;
    letter-spacing: 2px;
}

#featured-work-inner-text {
    text-align: center;
    margin-top: 0;
}

.featured-work-descriptions {
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}

.featured-work-link {
    font-size: 15px;
}

.footer-text {
    margin-top: 35px;
}

.side-first {
    margin-top: 50px;
}

.side-html {
    height: 80px;
    width: 80px;
}

.logo-test {
    font-family: cursive;
    text-shadow: 5px 5px 10px black;
    letter-spacing: 2px;
}